.container{
    min-width: 500px;
    max-width: 1150px;
    margin: 0 auto;

}

.container input{

    min-width: 500px;
    padding: 15px 10px;
    margin-bottom: 0.5rem;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 1.125rem;
}